<div
    style="padding-left: 300px; padding-right: 300px; display: flex; justify-content: space-between; box-shadow: 2px 1px 1px #eee;">
    <div><img src="icon-1.png" width="75px" height="75px" style="padding-top: 30px;">
        <h3>Happening hub</h3>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div style="margin: 10px; color: gray; padding: 25px; cursor: pointer;" >Sign up</div>
        <div style="margin: 10px; color: gray; padding: 25px; cursor: pointer;">About</div>
        <div style="margin: 10px; color: gray; padding: 25px; cursor: pointer;">Support</div>
    </div>
</div>

<!-- <div style="display: flex; justify-content: center; padding-top: 40px;">
    <img src="landing.png" width=1000 alt="landing page image">
</div> -->

<div style="display: flex; justify-content: center; padding-top: 20px;">
    <h1 style="font-weight: 500; font-size: 40px;">Happening Hub</h1>
</div>
<div style="display: flex; justify-content: center;">
    <h2 style="font-weight: 400;">Online platform to get to know about events that are happening near you.</h2>
</div>
<div style="display: flex; justify-content: center; padding-left: 150; padding-right: 150;">
    <h2 style="font-weight: 400;">Welcome to Happening Hub!</h2>
</div>

<div style="display: flex; justify-content: left; padding-left: 150; padding-right: 150;">
    <h1 style="font-weight: 400;">Events Near you:</h1>
</div>

<div style="display: flex; justify-content: left; padding-left: 175; padding-right: 175;">
    <h2 style="font-weight: 400;">1. Rise Up</h2>
</div>

<div style="display: flex; justify-content: left; padding-left: 175; padding-right: 175;">
    <h2 style="font-weight: 400;">Overview:</h2>
</div>

<div style="display: flex; justify-content: center; padding-left: 150; padding-right: 150;">
    <h2 style="font-weight: 400;">“Rise up” is a half-day event dedicated to inspiring and equipping women to reach their full potential, both personally and professionally and for achieving social justice.
        Through speeches by active fememists,interactive workshops, networking opportunities  and valuable insights for women .
        Empowering women helps to create a more just and equitable society for everyone.</h2>
</div>




<div style="display: flex; justify-content: left; padding-left: 175; padding-right: 175;">
    <h2 style="font-weight: 400;">2. Culture Carnival</h2>
</div>

<div style="display: flex; justify-content: left; padding-left: 175; padding-right: 175;">
    <h2 style="font-weight: 400;">Overview:</h2>
</div>

<div style="display: flex; justify-content: center; padding-left: 150; padding-right: 150;">
    <h2 style="font-weight: 400;">Step into the vibrant world of traditional Indian art at our Culture Carnival, an enchanting event that celebrates the rich and diverse heritage of India’s artistic traditions. 
        This art exhibition is a unique opportunity to immerse yourself in the intricate beauty and profound storytelling that define India’s cultural legacy..</h2>
</div>






<div style="display: flex; justify-content: center; padding-left: 150; padding-right: 150;">
    <h1 style="font-weight: 400;">About Us:</h1>
</div>
<div style="display: flex; justify-content: center; padding-left: 150; padding-right: 150;">
    <h2 style="font-weight: 400;">At Happening Hub, we believe in the power of community and the transformative potential of shared experiences. 
        Our mission is to create a vibrant platform where diverse voices are heard, celebrated, and empowered through a variety of enriching events.</h2>
</div>
<div style="display: flex; justify-content: center; padding-left: 150; padding-right: 150;">
    <h1 style="font-weight: 400;">Who We Are:</h1>
</div>
<div style="display: flex; justify-content: center; padding-left: 150; padding-right: 150;">
    <h2 style="font-weight: 400;">Happening Hub is a dynamic event management organization dedicated to fostering connections, inspiring creativity, and promoting positive change.
         Founded on the principles of inclusivity and innovation, we aim to provide a space where everyone can find something meaningful and engaging.</h2>
</div>
<div style="display: flex; justify-content: center; padding-left: 150; padding-right: 150;">
    <h1 style="font-weight: 400;">Our Vision</h1>
</div>
<div style="display: flex; justify-content: center; padding-left: 150; padding-right: 150;">
    <h2 style="font-weight: 400;">At Happening Hub, our vision is to build a more connected and inspired world. We believe that by bringing people together through meaningful events, we can spark conversations, ignite passions, and create lasting impacts on individuals and communities alike. 
        Our goal is to make every event a catalyst for personal growth, cultural enrichment, and social change.</h2>
</div>

<!-- 
<div style="display: flex; justify-content: center; padding-top: 15px; ">
    <div style="background-color: #387ed1 ; padding: 10; padding-top: 10px; padding-bottom: 10px; padding-left: 30px; padding-right: 30px; color: white; border-radius: 3px; font-size: 20px; cursor: pointer;">
        Sign up now
    </div>
</div> -->